<section *ngIf="infoField">
    <div class="reaction-container">
        <h2>🧮 Math Mania</h2>
        <p>
            Im Mathemodus zählt jede Sekunde: Rechne schnell – ein Fehler, und das Spiel beginnt von vorn!
        </p>
        <button class="start-button" (click)="overview()">▶ Spiel starten</button>
        <button class="home-button" [routerLink]="['/mainpage']">🏠 Home</button>
    </div>
</section>

<section *ngIf="!infoField">
    <div class="mathe-wrap">
        <div class="operator-class-container">
            <button *ngIf="startbutton" class="startButton" (click)="startGame('+')" mat-raised-button
                aria-label="Button that displays a tooltip that has custom delays through a default config">
                +
            </button>
        </div>
        <div class="operator-class-container">
            <button *ngIf="startbutton" class="startButton" (click)="startGame('-')" mat-raised-button
                aria-label="Button that displays a tooltip that has custom delays through a default config">
                -
            </button>
        </div>
        <div class="operator-class-container">
            <button *ngIf="startbutton" class="startButton" (click)="startGame('*')" mat-raised-button
                aria-label="Button that displays a tooltip that has custom delays through a default config">
                x
            </button>
        </div>
        <div class="operator-class-container ">
            <button *ngIf="startbutton" class="startButton" (click)="startGame('/')" mat-raised-button
                aria-label="Button that displays a tooltip that has custom delays through a default config">
                \
            </button>
        </div>

    </div>
    <div *ngIf="startbutton" class="">
        <button class="home-button" [routerLink]="['/mainpage']">🏠 Home</button>
    </div>
    <div *ngIf="playGame">
        <div class="operation-container">
            {{arethmeticNumberOne[operationIndex]}} {{operator}} {{arethmeticNumberTwo[operationIndex]}}
        </div>
        <div class="random-results-container">
            <div class="results" (click)="check(result)" *ngFor="let result of randowResultsArray ">
                {{result}}
            </div>
        </div>
        <div *ngIf="showLevelBooleanAddition" class="level-container-addition">
            <div *ngIf="showLevelBooleanAddition" class="level-container">Level {{nextPointArrayAddition.length+1}}
            </div>
        </div>
        <div *ngIf="showLevelBooleanSubtraction" class="level-container-addition">
            <div *ngIf="showLevelBooleanSubtraction" class="level-container">Level
                {{nextPointArraySubtraction.length+1}}</div>
        </div>
        <div *ngIf="showLevelBooleanMulti" class="level-container-addition">
            <div *ngIf="showLevelBooleanMulti" class="level-container">Level {{nextPointArrayMulti.length+1}}</div>
        </div>
        <div *ngIf="showLevelBooleanDivision" class="level-container-addition">
            <div *ngIf="showLevelBooleanDivision" class="level-container">Level {{nextPointArrayDivision.length+1}}
            </div>
        </div>
        <div class="bar-container">
            <div class="bar" [style.width.%]="barWidth"></div>
        </div>
    </div>
</section>