<section>
    <button [routerLink]="['/mathematics']" class="startButton" mat-raised-button matTooltip="By default, I delay"
        aria-label="Button that displays a tooltip that has custom delays through a default config">
        Mathematics
    </button>
    <button [routerLink]="['/visuality']" class="startButton" mat-raised-button matTooltip="By default, I delay"
        aria-label="Button that displays a tooltip that has custom delays through a default config">
        Mind Clicker
    </button>
</section>