<section>
    <div class="teaser-container">
        <img src="../../assets/img/teaser-logo.png" alt="">
        <h1>Smart Focus</h1>
    </div>
    <button [routerLink]="['/mathematics']" class="startButton" mat-raised-button 
        aria-label="Button that displays a tooltip that has custom delays through a default config">
        Mathematics
    </button>
    <button [routerLink]="['/visuality']" class="startButton" mat-raised-button 
        aria-label="Button that displays a tooltip that has custom delays through a default config">
        Mind Clicker
    </button>
    <button [routerLink]="['/memory']" class="startButton" mat-raised-button 
        aria-label="Button that displays a tooltip that has custom delays through a default config">
        Memory-Game
    </button>
    <button [routerLink]="['/matrix']" class="startButton" mat-raised-button 
        aria-label="Button that displays a tooltip that has custom delays through a default config">
        Reaction-Matrix
    </button>
    <button [routerLink]="['/color-focus']" class="startButton" mat-raised-button 
        aria-label="Button that displays a tooltip that has custom delays through a default config">
        Color-Focus
    </button>
</section>