

<div class="register-container">
  <div class="teaser-container">
    <img src="../../assets/img/teaser-logo.png" alt="">
    <h1>Smart Focus</h1>
  </div>
  <div class="register-box">
    <h2>Registrieren</h2>

    <button [routerLink]="['/mainpage']" class="google-button">
      Mit Google registrieren
    </button>

    <p class="info-text">
      Durch die Registrierung akzeptieren Sie unsere
      <button [routerLink]="['/impressum']">Impressumg</button>und
      <button [routerLink]="['/privacy-policy']">Privacy Policy</button>.
    </p>
  </div>

