section{
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
    display: block;
    margin: 20px auto;
    border-radius: 30px;
    background: white;
   
  }

  .progress-bar{
    width:100%;
    height:20px;
  }