<section>
  <div class="reaction-container" *ngIf="!gameStarted">
    <h2>🧠 Reaktion-Matrix</h2>
    <p>
      Auf einem 5x5-Feld leuchtet zufällig ein Feld<span
        style="color: #4caf50"><strong> grün</strong></span>  auf – klicke es blitzschnell an!
      Treffer bringen Punkte, Fehler kosten Leben. Drei Fehler und das Spiel ist vorbei.
    </p>
    <button class="start-button" (click)="startGame()">▶ Spiel starten</button>
    <button class="home-button" [routerLink]="['/mainpage']">🏠 Home</button>
  </div>
  <div class="reaction-container" *ngIf="gameStarted">
    <h2>🧠 Reaktion-Matrix</h2>
    <p>Punkte: {{ score }} | Leben: {{ lives }}</p>

    <div class="grid">
      <div class="cell" *ngFor="let cell of grid" [class.active]="cell.isActive" (click)="handleClick(cell)"></div>
    </div>
    <button class="home-button" [routerLink]="['/mainpage']">🏠 Home</button>
  </div>
</section>