<section id="impressum">
  <h1>Impressum</h1>
  <p><strong>Angaben gemäß § 5 TMG</strong></p>
  <p>
    Dennis Freyer<br>
    Röthiger Weg 10<br>
    04575 Deutzen<br>
    Deutschland
  </p>

  <p><strong>Kontakt:</strong><br>
    E-Mail: <a href="mailto:kontakt@dennis-freyer.de"></a><br>
  </p>

  <p><strong>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:</strong><br>
    Dennis Freyer<br>
    Röthiger Weg 10<br>
    04575 Deutzen
  </p>

  <p>Quelle: <a href="https://www.e-recht24.de" target="_blank" rel="noopener noreferrer">eRecht24</a></p>
</section>