<section>
  <div class="game-container">
    <!-- <p>Punkte: {{ score }}</p> -->
    <div class="grid">
      <div class="card" *ngFor="let card of cards" [class.flipped]="card.flipped || card.matched"
        (click)="flipCard(card)">
        <div class="card-inner">
          <div class="card-front">?</div>
          <div class="card-back">{{ card.image }}</div>
        </div>
      </div>
    </div>
    <button class="restart-button" (click)="resetGame()">Neustarten</button>
    <button class="restart-button" [routerLink]="['/mainpage']">Back</button>
  </div>
</section>