<section *ngIf="startGame">
    <div class="reaction-container" >
    <h2>🃏 MindPairs</h2>
    <p>
    In diesem Memory-Spiel kommt es auf Konzentration, Merkfähigkeit und Schnelligkeit an. Decke die Karten auf, finde die passenden Paare und knacke deinen Highscore – Runde für Runde wird es schwieriger!
    </p>
    <button class="start-button" (click)="startMindPairs()">▶ Spiel starten</button>
    <button class="home-button" [routerLink]="['/mainpage']">🏠 Home</button>
  </div>
</section>
<section  *ngIf="!startGame">
  <div class="game-container">
    <div class="grid">
      <div class="card" *ngFor="let card of cards" [class.flipped]="card.flipped || card.matched"
        (click)="flipCard(card)">
        <div class="card-inner">
          <div class="card-front">?</div>
          <div class="card-back">{{ card.image }}</div>
        </div>
      </div>
    </div>
    <button class="start-button" (click)="resetGame()">New Game</button>
    <button class="home-button" [routerLink]="['/mainpage']">🏠 Home</button>
  </div>
</section>